<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login - VaxTrack</title>
  <link rel="stylesheet" href="/static/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <div class="icon"><img class="vac" src="/static/image/image (5).png"></div>
        <h2>Login To VaxTrack</h2>
        <p>Login to continue to your vaccination services portal</p>
      </div>

      <form action="{{url_for('main.login')}}" method="post">
        <div class="input-group">
          <label>Email Address / User ID</label>
          <input type="username" name="username" placeholder="admin@healthauth.gov" required class="mr-3">
        </div>

        <div class="input-group">
          <label>Password</label>
          <input type="password" name="password" placeholder="●●●●●●" required >
        </div>

        <button type="submit">Sign In</button>
      </form>

      <div class="footer-text">
        <p>Secure access to vaccination tracking system</p>
        
        <div class="footer-links">
         Don't have an account?? <a href="{{url_for('main.register')}}">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>